h1 {
    text-align: center;
    color: salmon;
}

nav {
    background-color: salmon;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}